{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div>
        <h3>User</h3>
    </div>
    <hr>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <fieldset>
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>
        <button type="submit" class="btn btn-primary pull-right" formnovalidate>Register</button>
    {{ form_end(form) }}
{% endblock %}